#navigation-photo {
  width: 940px;
  height: 20px;
}

#navigation-photo-buttons {
  width: 510px;
  margin: 0px auto;
}

#navigation-photo-buttons ul {
  height: 20px;
  width: 275px;
  padding: 0;
  list-style-type: none;
  margin:0px auto;
}

#navigation-photo-buttons li {
  height: 18px;
  font-size: 14px;
  font-weight: 300px;
  line-height: 18px;
  float: left;
  text-align: center;
  margin: 0 19px;
}

#navigation-photo a:link,
a:visited {
  color: #89979b;
}

#navigation-photo a:hover {
  color: black;
}

/*-------------------*/

#thumbs-container {
	width: 145px;	
	margin: auto;
  float: left;
}

#thumbnails ul {
	list-style-type: none;
}

#thumbnails li {
	float: left;
	margin: 0 5px 9px 0px;
}

ul img {
  vertical-align: middle;
  height: 95px;
  width: 95px;
  cursor: pointer;
}

//img.selected {
  //border: 1px solid #000000;
//}

#front {
  text-align: center;
	width: 770px;
  height: 513px;
	margin: 20px auto;
  padding: auto;
  float: left;
  background-color: #e7e7e7;
}

#front img {
	margin: 0 auto;
  position: relative;
}

img.horizontal {
  width: 770px;
}

img.vertical {
  height: 513px;
}

/*-------------------*/

div#caption {
  position: absolute;
  top: 678px;
  padding: 5px;
  font-weight: 300;
  font-size: .9em;
  letter-spacing: 1px;
}

div.horizontal-caption {
  color: white;
  background: rgba(0, 0, 0, 0.3);
}
