#navigation-photo {
  width: 940px;
  height: 20px;
}

#navigation-photo-buttons {
  width: 510px;
  margin: 0px auto;
}

#navigation-photo-buttons ul {
  height: 20px;
  width: 275px;
  padding: 0;
  list-style-type: none;
  margin:0px auto;
}

#navigation-photo-buttons li {
  height: 18px;
  font-size: 14px;
  font-weight: 300px;
  line-height: 18px;
  float: left;
  text-align: center;
  margin: 0 19px;
}

#navigation-photo a:link,
a:visited {
  color: #89979b;
}

#navigation-photo a:hover {
  color: black;
}

/*-------------------*/

#gallery-container {
  width: 80%;
  margin: 20px 8%;
}

#gallery-container ul {
  padding: 20px;
  width: 750px;
}

#headshot-list li {
  float: left;
  width: 230px;
  padding: 10px;
}

#headshot-list img {
  width: 100%;
}
