#resume-download {
  width: 900px;
  text-align: center;
  font-size: 14px;
}

#resume {
	font-weight: 300;
}

#resume table {
	margin: 5px 0 20px 20px;
}

#resume p {
	margin: 5px 0 20px 20px;
}

#resume td {
	width: 300px;
	line-height: 22px;
}

#resume td.right {
  width: 525px;
}

#resume th {
	font-weight: bold;
	text-align: left;
  text-decoration: underline;
}

#resume h3 {
	font-weight: bold;
	text-align: left;
	margin-left: 20px;
}

.training-category {
  font-weight: bold;
}

table.single-column {
  width: 850px;
}

#bottom-buffer {
  height: 40px;
}
